
@{
    ViewBag.Title = "InputFormFotCreateCustomer";
}

<h2>Create Customer</h2>

@using(Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post))
{
    <table class="table table-striped table-dark">
        <tr>
            <td>FirstName</td>
            <td><input type="text" name="FirstName"/></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" name="LastName"/></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" name="Age"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="Email"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send"/>
            </td>
            <td></td>
        </tr>
    </table>
}